body {
    font-family: 'Monserrat', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;
}

li:last-child {
    padding-right: 0;
}

a {
    text-decoration: none;
    display: block;
}

img {
    
}

header {
    display: flex;
    justify-content: space-between;
}

.primary-nav {
    padding-top: 10px;
}

.main-heading {
    /* flex-shrink: 1; allows item to shrink if container is too small, higher numbers = smaller item */
}

.nav-div {
}

.bio-section {
    background-color: #1b1b1b;
    color: #FFF;
    padding: 25px;
}

.discography-section {
    background-color: rgb(170, 170, 170);
    padding: 25px;
}

.row {
    display: flex; /* flex container, flex-direction default = row */
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: solid 5px #1b1b1b;
}

.album {
    display: table;
    margin: 0;
}

.album img {
    height: 100px;
    width: 100px;
    max-width: 100%;
    display: block; /* responsive images */
    height: auto;
}

.album-caption {
    display: table-caption;
    caption-side: bottom;
}

.album:hover {
    transform: scale(1.2);
}