* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monserrat", sans-serif;
    font-size: 1em;
    color: #fff;
    max-width: 1920px;
    background: #4abdac;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 1.4em;
    font-weight: 200;
    color: #f7b733;
    padding-top: 1.5em;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000;
}

h2 {
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
}

h3 {
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
}

p {
    text-align: center;
    font-size: 0.85em;
}

a {
    color: #fff;
    text-decoration: none;
}

/* header */

.header-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dfdce3;
    padding: 2.3em 0;
}

.logo {
    margin-left: 5%;
    text-shadow: 1px 1px 2px #000;
    font-size: 1.2em;
}

.logo span {
    color: #f7b733;
}

nav {
    margin: 1.5em 0 0 5%;
}

header ul li {
    display: inline;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px #000;
}

header ul li a {
    text-decoration: none;
    color:#fff;
}

li a.active {
    color: #fff;
    border-bottom: 2px solid #fc4a1a;
    font-weight: 300;
}

li a:hover {
    color: #fc4a1a;
}

.band-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    outline: 0.1em solid #fc4a1a;
}

.band-img--wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

/* bio section */
.bio-title {
    padding-bottom: 1.0em;
}

.bio-container {
    padding: 0 1.5em;
}

/* band section grid */
.band-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-top: 30px;
    justify-content: center;
}

.member {
    width: 47vw;
    margin: 0 auto 30px;
}

.member-img {
    display: block;
    width: 47vw;
    border: 0.2em solid #fff;
    border-radius: 50%;
}

.band-info {
    margin-top: 13px;
    text-shadow: 1px 1px 1px #000;
}

.band-info h3 span {
    color:#f7b733;
}

.band-info p {
    font-size: 0.85em;
    font-weight: 500;
    margin-top: 2px;
    color: #fff;
}

/* disco grid */
.disco-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-top: 30px;
    justify-content: center;
}

.album {
    width: 47vw;
    margin: 0 auto 15px;
}

.album-img {
    display: block;
    width: 47vw;
    border-radius: 10%;
}

/* footer */
footer {
    padding: 2.0em;
    text-align: center;
}

footer p {
    font-size: 0.7em;
    font-weight: 300;
    color: #E7DFDD;
    line-height: 130%;
}

footer p a {
    text-decoration: none;
    color: #E7DFDD;
}

.footer--text {
    padding: 1.1em;
}

.social-icons {
}

.social-icons a {
    color: #A239CA;
    text-decoration: none;
    padding-right: 10px;
}

#scroll {
    cursor: pointer;
}

.to-top {

}

.to-top i {
    color: #A239CA;
    padding: 0.2em;
}

/* media queries */

/* navbar when screen is larger than 600px */
@media screen and (min-width : 640px) {
    .band-grid {
        grid-template-columns: 50% 50%;
        margin-top: 54px;
    }

    .member {
        width: 31vw;
        margin: 0 auto 45px;
        transition: transform .2s;
    }

    .member:hover {
        transform: scale(1.1);
    }

    .member-img {
        width: 31vw;
    }

    .disco-grid {
        grid-template-columns: 50% 50%;
        margin-top: 54px;
    }

    .album {
        width: 31vw;
        margin: 0 auto 45px;
        transition: transform .2s;
    }

    .album:hover {
        transform: scale(1.1);
    }

    .album-img {
        width: 31vw;
    }

    h1 {
        padding-top: 3em;
    }

    p {
        /* font-size: 1.0em; */
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        margin-left: 2.3em;
        font-size: 1.5em;
    }

    nav {
        align-self: center;
        margin: 0 0.8em 0 0;
    }

    header ul li {
        font-size: 1.1em;
    }
}

@media screen and (min-width : 1200px) {
    body {
        max-width: 1920px;
        margin: auto;
    }

    h1 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;
    }

    .member {
        width: 370px;
    }

    .member-img {
        width: 370px;
    }

    .album {
        width: 370px;
    }

    .album-img {
        width: 370px;
    }

    footer p {
        font-size: 1.0em;
    }
}