body {
    font-family: 'Monserrat', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: green;
}

#navbar {
    background-color: #888888;
}

#biography {
    background-color: #636363
}

#discography {
    background-color: #a0a0a0;
}

.generic-content-container--inner-content-band {
    text-align: center;
}